@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wdth,wght@96.8,100..800&family=Bitcount+Grid+Double:wght@100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Scope+One&family=Silkscreen:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Bitcount Grid Double", system-ui;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.box {
    width: 80%;
    max-width: 500px;
    background-color: black;
    border-radius: 15px;
    height: auto;
    max-height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image {
    margin-top: 12px;
    width: 95%;
    height: 150px;
    background-color: bisque;
    border-radius: 15px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.b1 img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 5px;
}

.b1 {
    width: 100%;
    /* background-color: #4e085f; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.b2 {
    width: 80%;
    display: flex;
    margin-right: 5px;
}


input {
    font-family: "Bitcount Grid Double", system-ui;
    flex: 1;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 15px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: 0.3s ease-out;
}

input:hover {
    box-shadow: 0 0 30px #ffffff,
        0 0 35px #0f6060,
        0 0 50px rgb(10, 99, 128);
    transform: scale(1.01);

}

.b2 button {
    /* background-color: #90bbbd; */
    background: linear-gradient(to right, #082026, #004A4A);
    color: rgb(157, 159, 159);
    border: none;
    outline: none;
    width: 100px;
    height: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-out;
    font-family: "Bitcount Grid Double", system-ui;
}

.b2 button:hover {
    font-weight: bold;
    color: whitesmoke;
    box-shadow: 0 0 50px #0f8c8c,
        0 0 35px #0f6060,
        0 0 50px rgb(215, 215, 215);
    transform: scale(1.001);
}


.wishes {
    /* background-color: #153677; */
    width: 95%;
    height: 250px;
    overflow-y: scroll;
    margin: 10px 0;
    border-radius: 10px;
    transition: background 0.5s ease;

}


.wishes::-webkit-scrollbar {
    width: 0;
}

ul li {
    background: linear-gradient(to right, #082026, #004A4A);
    border-radius: 10px;
    min-height: 90px;
    height: auto;
    list-style: none;
    /* user-select: none; */
    margin: 10px 5px;
    padding: 12px 8px 10px 50px;
    display: flex;
    position: relative;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: 0.2s ease-out;


}




ul li:hover {
    box-shadow: 0 0 50px #0f8c8c,
        0 0 35px #0f6060,
        0 0 50px rgb(215, 215, 215);
    transform: scale(1.01);
}



ul li::before {
    content: '';
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: url(circle2.svg);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

ul li span{
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: url(cross.svg );
    /* background-size: cover;
    background-position: center; */
    top: 10px;
    right: 10px;
    cursor: pointer;
}



ul li.checked {
    color: #a0a0a0;
    text-decoration: line-through;
}

ul li.checked::before {
    cursor: pointer;

    background-image: url(checked.svg);

}
